body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    z-index: -1;
}

#text-1 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    font-size: 28px;
}

#text-2 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    font-size: 44px;
}